/* ============================
   ESTILOS GLOBALES DE LA APP
   ============================ */

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fondo y tipografía de toda la app */
html, body {
  height: 100%;
  width: 100%;
  background-color: #08205c; /* fondo oscuro */
  color: #fff;               /* texto blanco */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

